*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    font-family: 'Mukta', sans-serif;
    color: white;
    font-size: 20px;
}

nav{
    background-color: rgba(255,255,255, 0.1);
    padding: 20px 10% 20px;
    display: flex;
    justify-content: space-between;
}

h2{
    color:rgb(255, 61, 61);
}

a{
    color: white;
    padding: 0 15px;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color:rgb(255, 35, 35);
}

nav span{
    margin-top: 5px;
}

.green h2{
    color: #76b900;
}

.green a:hover{
    color: #76b900;
}

.current{
    color: #76b900;
}

.nav_left{
    display: flex;
    justify-content: space-around;
}

.half{
    width: 50%;
}

.center{
    width: 90%;
    margin: auto;
    max-width: 1110px;
}

.block{
    display: flex;
    justify-content: center;
}

.text{
    margin: 20px;
    margin-top: 100px;
}

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#logo{
    width: 100px;
    padding: 0 10px;
}

#loopa{
    width: 24px;
    color: rgb(0, 0, 0);
    content: "f002";
    filter: invert(1);
}

img{
    object-fit: scale-down;
}

.banner img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 60%;
}
.banner2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2 img{
    height: 70vh;
    object-fit: cover;
    object-position: 60%;
}

table{
    width: 100%;
    margin-top: 30px;
}

td, th, table {
    border-collapse: collapse;
    border: 1px #76b900 solid;
    padding: 10px;
}